@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed|Staatliches&display=swap");

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Roboto Condensed", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Staatliches", sans-serif;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

a {
  text-decoration: none;
  color: black;
}

/* HEADER */

hr {
  color: #000;
  margin-top: 25px;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

header {
  width: 100%;
  vertical-align: baseline;
  background: #c3c3c3;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 25%;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

nav {
  display: inline-block;
  width: 80%;
}

nav a {
  color: black;
  vertical-align: middle;
}

nav a:hover {
  color: grey;
}

nav a:not(:last-of-type) {
  margin-right: 10%;
}

.logo {
  vertical-align: middle;
}

/* HERO */

.hero {
  margin: 125px 0 75px 0;
}

.hero-col {
  display: inline-block;
  width: 49.5%;
}

.hero-text-container {
  text-align: center;
  vertical-align: middle;
}

.hero-title {
  font-family: "Staatliches", sans-serif;
  font-size: 80px;
}

/* .hero img {
  float: right;
} */

.hero-img {
  display: inline-block;
  width: 100%;
  height: 379px;
  background-image: url("../img/header-img.png");
  background-repeat: no-repeat;
  margin-left: 25%;
  vertical-align: middle;
}

.btn {
  display: inline-block;
  border: 1px solid black;
  padding: 5px 45px;
  transition: 0.1s ease-out all;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  animation: pulse 0.5s alternate infinite;
  background: #030303;
  color: white;
  transform: translateY(-2px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

@keyframes pulse {
  0% {
    color: white;
  }

  100% {
    color: #13bed4;
  }
}

/* DETAILS */

.details-item {
  margin: 25px 0;
  padding-right: 2%;
}

.details-item-half {
  display: inline-block;
  width: 49%;
}

.details-item-third {
  display: inline-block;
  width: 32%;
}

/* .middle-img {
	width: 100%;
} */

.mid-image {
  display: inline-block;
  width: 100%;
  height: 182px;
  background-image: url("../img/mid-page-accent.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

/* CONTACT/FOOTER */

.contact-text {
  line-height: 2;
}

.copyright {
  text-align: center;
}
